/* app/globals.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* 定義默認（亮色模式）變量 */
:root {
  --background: #ffffff;
  --header-bg: #rgba(255, 255, 255, 0.8); /* 半透明背景 */
  --header-text: #0d0f12;
  --logo-color: #0d0f12;
  --nav-link-color: #0d0f12;
  --nav-link-hover: #555555;
  --link-hover: #7ac8ff;
  --icon-button-color: #0d0f12;
  --footer-bg: #ffffff;
  --footer-text: #0d0f12;
  --text-color: #0d0f12;

  /* Cloud colors for light mode */
  --color-sky-from:hsl(200deg 70% 78%);
  --color-sky-to: hsl(200deg 70% 70%);
  --cloud-background: hsl(199.02deg 69.49% 76.86%);
  --color-cloud-300: hsl(202deg 68% 92%);
  --color-cloud-500: hsl(200deg 80% 83%);
}

/* 定義暗黑模式下的變量 */
[data-theme="dark"] {
  --background: #0d0f12;
  --header-bg: #rgba(0, 0, 0, 0.8); /* 半透明背景 */ /* 深灰色背景 */
  --header-text: #ffffff; /* 白色文字 */
  --logo-color: #ffffff;
  --nav-link-color: #ffffff;
  --nav-link-hover: #dddddd;
  --link-hover: #7ac8ff;
  --icon-button-color: #ffffff;
  --footer-bg: #1f2937;
  --footer-text: #ffffff;

  /* Cloud colors for dark mode */
  --cloud-background: linear-gradient(to bottom, hsl(214, 87%, 40%), hsl(213, 100%, 14%));
  --color-cloud-300: hsl(212deg 40% 9%);
  --color-cloud-500: hsl(213deg 40% 12%);
  --color-sky-from: hsl(214deg 40% 11%);
  --color-sky-to: hsl(200deg 50% 30%);
}


body {
  transition: color 0.5s ease-in-out;
}

body svg path {
  transition: fill 0.5s ease-in-out;
}
body svg defs stop{
  transition: stop-color 0.5s ease-in-out;
} 

body input {
  transition: background-color 0.5s ease-in-out;
}

body footer {
  transition: background-color 0.5s ease-in-out;
}