/* styles/Blog.module.css */
.container {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr; /* 主內容與側邊欄比例 */
  gap: 20px;
  padding: 20px 5%;
  margin-bottom: 40px; /* 給 Footer 留下空間 */
}

.mainContent {
  display: flex;
  flex-direction: column;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


/* 當寬度不足時，隱藏側邊元件 */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .container {
    padding: 20px 3%;
  }
}
