/* styles/HeroSection.module.css */
.heroContainer {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 60vh;
  overflow: hidden;
  z-index: -1;
}

.heroContainer svg {
  height: inherit;
}

.virtualCharacter {
  position: absolute; 
  width: 250px;
  height: auto;
  right: 0;
  bottom: 0;
  margin-right: 5%;
  z-index: 1;
}

@media (max-width: 768px) and (min-width: 456px) {
  .heroContainer {
    height: 40vh;
  }

  .virtualCharacter {
    display: none;
  }
}

@media (max-width: 455px) {
  .heroContainer {
    height: 30vh;
  }
  .virtualCharacter {
    display: none;
  }
}
